<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475766271581-1j3vprb12qtjfa3l6c5jhbhlponir6fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475766271581-1j3vprb12qtjfa3l6c5jhbhlponir6fa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>475766271581-cq00g6qaq5mfhis0se3ms9pl1o0k64o1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-x2CJ-skX779pbfA3SzfFSCcxQ6tM-Os</string>
	<key>GCM_SENDER_ID</key>
	<string>475766271581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios</string>
	<key>PROJECT_ID</key>
	<string>tourist-company</string>
	<key>STORAGE_BUCKET</key>
	<string>tourist-company.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475766271581:ios:5d73fb9d1f4e9f378de7b4</string>
	<key>DATABASE_URL</key>
	<string>https://tourist-company.firebaseio.com</string>
</dict>
</plist>