<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13991890247-483q88ksvkjkacosstspq3lfg58bljjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13991890247-483q88ksvkjkacosstspq3lfg58bljjt</string>
	<key>API_KEY</key>
	<string>AIzaSyCGOdBJS5Mp7F-_8h4Ulhg8Ee0vFXIChDU</string>
	<key>GCM_SENDER_ID</key>
	<string>13991890247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios</string>
	<key>PROJECT_ID</key>
	<string>graduation-a0b66</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-a0b66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13991890247:ios:08f12bf0966fc9a191d062</string>
	<key>DATABASE_URL</key>
	<string>https://graduation-a0b66.firebaseio.com</string>
</dict>
</plist>